node_modules/
.next/
out/
build/
dist/
*.log
npm-debug.log*
.env
.env*.local
.DS_Store
*.pem
coverage/
next-env.d.ts
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/migrations/dev/
.vercel
tsconfig.tsbuildinfo
